include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
include requirements.txt
include keel_verifier/_release_manifest.json

recursive-include keel_verifier/data *.json
recursive-include keel_verifier/keys *.json
recursive-include sample *.json
recursive-include tests *.py
recursive-include tests/fixtures *.json
recursive-include tools *.py
